<div class="auth-container">
  <div class="auth-left">
    <div class="auth-form">
      <h2 *ngIf="!showLogin">Sign Up</h2>
      <h2 *ngIf="showLogin">Sign In</h2>
      <p class="sub-text">Join Us Today and Start Shopping!</p>

      <!-- Sign Up Form -->
      <form *ngIf="!showLogin" class="signupform" [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <input type="text" formControlName="name" placeholder="Name" />
        <small class="fields" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">Please enter your name</small>
        <input type="email" formControlName="email" placeholder="Email" />
        <input type="password" formControlName="password" placeholder="Password" />
        <button [disabled]="signupForm.invalid" type="submit">Sign Up</button>
        <div class="or">OR</div>

        <p class="switch-text">
          Have an account already? <a (click)="toggleForm(true)">Sign In</a>
        </p>
      </form>

      <!-- Sign In Form -->
      <form *ngIf="showLogin" [formGroup]="loginForm" (ngSubmit)="onSignIn()">
        <input type="email" formControlName="email" placeholder="Email" />
        <input type="password" formControlName="password" placeholder="Password" />
        <button [disabled]="loginForm.invalid" type="submit">Sign In</button>

        <p class="switch-text">
          Don't have an account? <a (click)="toggleForm(false)">Sign Up</a>
        </p>
      </form>
    </div>
  </div>

  <div class="auth-right">
    <div class="testimonial">
      <!-- <p class="quote">
        “As soon as I signed up, I was impressed with the quality and selection. The checkout process is seamless, and
        the <b>customer service is top-notch.</b>”
      </p> -->
      <!-- <p class="author">- Maya Sharma, Horizon DeskTech A-Z</p> -->
    </div>
  </div>
</div>
